@model FornecedorModel

<div class="container">
    <h2 class="text-primary">Alteração de Fornecedor</h2>
    <hr>
    <form asp-action="Alterar" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Id">

        <div class="form-floating">
            <input type="text" class="form-control" placeholder="" asp-for="@Model.Nome">
            <label asp-for="@Model.Nome"></label><br>
            <span class="text-danger" asp-validation-for="@Model.Nome"></span>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" placeholder="(99)99999-9999" asp-for="@Model.Telefone">
            <label asp-for="@Model.Telefone"></label><br>
            <span class="text-danger" asp-validation-for="@Model.Telefone"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Cidade" asp-for="@Model.Cidade">
            <label asp-for="@Model.Cidade"></label><br>
            <span class="text-danger" asp-validation-for="@Model.Cidade"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Estado" asp-for="@Model.UF">
            <label asp-for="@Model.UF"></label><br>
            <span class="text-danger" asp-validation-for="@Model.UF"></span>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Bairro" asp-for="@Model.Bairro">
            <label asp-for="@Model.Bairro"></label><br>
            <span class="text-danger" asp-validation-for="@Model.Bairro"></span>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Rua/Numero" asp-for="@Model.RuaNumero">
            <label asp-for="@Model.RuaNumero"></label><br>
            <span class="text-danger" asp-validation-for="@Model.RuaNumero"></span>
        </div>

        <div class="form-floating mb-4">
            <select asp-for="@Model.IdCategoria" asp-items="@ViewBag.Categorias" class="form-select">
                <option value="">Selecione a categoria...</option>
            </select>
            <label asp-for="@Model.IdCategoria"></label><br>
            <span class="text-danger" asp-validation-for="@Model.IdCategoria"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="@Model.ArquivoImagem" class="form-label"></label><br>
            <input class="form-control" asp-for="@Model.ArquivoImagem" accept="image/*">
            <span class="text-danger" asp-validation-for="@Model.ArquivoImagem"></span>
        </div>

        <div class="mb-4 form-group">
            <img src="@Model.CaminhoImagem" class="img-thumbnail" width="200" id="imgAtual">
        </div>

        <div>
            <input type="submit" class="btn btn-sm btn-success" value="Salvar">
            <a asp-action="Index" class="btn btn-sm btn-danger">Cancelar</a>
        </div>

    </form>
</div>

<script>
    const inputImagem = document.querySelector('#ArquivoImagem');
    inputImagem.addEventListener('change', (e) => {
        var file = e.srcElement.files[0];
        var img = document.querySelector('#imgAtual');
        var reader = new FileReader();
        reader.onloadend = function () {
            img.src = reader.result;
        }
        reader.readAsDataURL(file);
    });
</script>