@model UsuarioModel

<div class="row">
    <div class="col-4 offset-4 border border-info p-3 rounded">
        <h1 class="display-4 mb-3">Alterar Senha</h1>
        <form method="post">
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="@Model.Senha" placeholder="123456">
                <label asp-for="@Model.Senha">Nova Senha</label>
                <span class="small text-danger ps-2" asp-validation-for="@Model.Senha"></span>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" asp-for="@Model.ConfSenha" placeholder="123456">
                <label asp-for="@Model.ConfSenha"></label>
                <span class="small text-danger ps-2" asp-validation-for="@Model.ConfSenha"></span>
            </div>

             <div>
                <button class="btn btn-primary">Alterar</button>
            </div>
        </form>
    </div>
</div>