@model UsuarioModel
@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" defer></script>
    <title>Autenticação</title>
</head>

<body>
    <section class="bg-light bg-opacity-10">
        <main class="container-lg container-fluid">
            <div class="row align-items-center" style="height: 100vh">
                <div class="col-8 col-lg-4 mx-auto border border-danger border-opacity-50 p-3 rounded">
                    <h1 class="display-4 mb-3 text-danger text-opacity-50 text-center">Cadastre-se!</h1>
                    <form method="post">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="@Model.Nome" placeholder="Nome Completo">
                            <label asp-for="@Model.Nome"></label>
                            <span class="small text-danger ps-2" asp-validation-for="@Model.Nome"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="@Model.Email" placeholder="nome@@email.com">
                            <label asp-for="@Model.Email"></label>
                            <span class="small text-danger ps-2" asp-validation-for="@Model.Email"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="@Model.Senha" placeholder="123456">
                            <label asp-for="@Model.Senha"></label>
                            <span class="small text-danger ps-2" asp-validation-for="@Model.Senha"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="@Model.ConfSenha" placeholder="123456">
                            <label asp-for="@Model.ConfSenha"></label>
                            <span class="small text-danger ps-2" asp-validation-for="@Model.ConfSenha"></span>
                        </div>
                        <div>
                            <button class="btn btn-outline-danger text-dark">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
    </section>
</body>
